<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- .NET Core SDK -->
    <package id="dotnetcore-sdk" version="3.1.302" />
    <!-- .NET Frameworkの場合はこれも -->
    <package id="netfx-4.7-devpack" version="4.7.2053.0"/>
    <!-- SVN(入れる場合) -->
    <package id="tortoisesvn" version="1.14.0.28885" />
    <!-- Git(入れる場合) -->
    <package id="git" version="2.27.0" />
    <!-- VS Code (エディタ) -->
    <package id="vscode" />
    <!-- C# ドキュメント生成ツール -->
    <package id="doxygen.install" version="1.8.17" />
    <!-- SQL Server Management Studio(入れる場合) -->
    <package id="sql-server-management-studio" version="15.0.18333.0" />
    <!-- Microsoft SQL Server 2019 Express(入れる場合) -->
    <package id="sql-server-express" version="2019.20200409" />
</packages>